html,
body {
  margin: 0;
  padding: 0px;
  align-items: center;
  text-align: center;
}
#canvas-container {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}